@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-2">
        <br />
        <p>Bài hiện tại</p>
        <p>Bài dự kiến tiếp theo</p>
        
    </div>
    <div class="col-md-8">
        <h2>NỘI DUNG BÀI HỌC</h2>
        
        <div class="row">
            <p>
                Trung Quốc chuyển tập trung xuất khẩu sang phát triển thị trường nội địa có thể cho thấy ông Tập chuẩn bị cho kịch bản tệ nhất, theo giới phân tích.
            </p>
            <p>
                Phát biểu trước hàng chục cố vấn kinh tế hàng đầu tại Bắc Kinh hôm 23/5, Chủ tịch Trung Quốc Tập Cận Bình nói rằng Trung Quốc đang theo đuổi kế hoạch phát triển mới, trong đó "lưu thông trong nước đóng vai trò chủ đạo".
            </p>
            <p>
                "Về tương lai, chúng ta phải coi nhu cầu trong nước là điểm khởi đầu và nền tảng chắc chắn khi chúng ta đẩy nhanh xây dựng hệ thống tiêu thụ nội địa hoàn chỉnh và thúc đẩy mạnh mẽ cải tiến trong khoa học, công nghệ và các lĩnh vực khác", ông Tập nói.
            </p>
            <p>
                Bình luận của ông Tập cho thấy Bắc Kinh đang tiến tới từ bỏ chiến lược "lưu thông quốc tế lớn" được áp dụng vào những năm 1990, giúp thúc đẩy tăng trưởng và đưa Trung Quốc trở thành nền kinh tế lớn thứ hai trên thế giới trong những năm qua.
            </p>
            <p>
                "Đó là chuẩn bị cho kịch bản tồi tệ nhất, bao gồm tách rời với Mỹ và thậm chí với toàn bộ thế giới phương Tây", Hu Xingdou, một nhà kinh tế độc lập tại Viện Công nghệ Bắc Kinh nhận định.
            </p>
            <p>
                Hu nói rằng Trung Quốc không có lựa chọn nào khác ngoài đối mặt với nghịch cảnh, nhưng ông cảnh báo Trung Quốc không thể phá hủy cải cách thị trường hay quay lại bản chất khép kín của nền kinh tế thị trường, trong đó chính quyền trung ương đưa ra toàn bộ quyết định. Theo ông, thay vào đó, Trung Quốc nên nỗ lực hơn để thuyết phục phần còn lại của thế giới rằng họ không dự định xây dựng mô hình kinh tế khác với hệ thống toàn cầu hiện nay.
            </p>
        </div>
        <div class="row">
            <div class="col-md-2">
                <a class="btn btn-default" href="#">Học lại</a>
            </div>
            <div class="col-md-2"><a class="btn btn-default" href="#">Bài trước</a></div>
            <div class="col-md-2"><a class="btn btn-default" href="#">Bài tiếp theo</a></div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-2"><a class="btn btn-default" href="#">Làm bài kiểm tra</a></div>
        </div>
    </div>
    <div class="col-md-2">
        <br />
        <p>Năng lực ước lượng</p>
        <p>Phong cách học</p>
        <p>Thang đo Bloom</p>
        <p>Độ tập trung</p>
    </div>
</div>